.navigation-bar {
  position: fixed !important;
  background: #343a4065;
  backdrop-filter: blur(10px);
  height: 80px;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;

  gap: 40px;
}

.logo {
  height: 70px;
  margin-inline: 10px;
}
.logo-text-red{
  color: var(--theme);
}
.menu-icon {
  width: 35px;
  margin-inline: 10px;
}

.burger-icon {
  color: white;
  font-size: 35px;
  line-height: 80px;
  cursor: pointer;
  display: block;
}
.logo-wrapper{
  
  color: white;
 
}
.logo-text{
  color: white;
  line-height: 80px;
}
.search-wrapper {
  position: relative;
  height: 50px;
  width: 25%;
}
.search-icon {
  right: 10px;
}
.filter-icon {
  right: 40px;
}
.search-text {
  height: 100%;
  width: 100%;
  padding-inline: 20px;
}
.search-icons {
  position: absolute;

  height: 100%;
  cursor: pointer;
}


@media screen and (max-width : 1300px) {
  .search-wrapper {
    display: none;
  }
}
