@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400&display=swap");
.f-ubuntu {
  font-family: "Ubuntu", sans-serif;
}
:root {
  --grey-dark: #343a40;
  --dark: #242428;
  --height-small: 600px;
  --height-large: 700px;
}
.d-flex {
  display: flex;
}
.a-j-center {
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  min-width: 98vw;
  margin: auto;
}
