@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400&display=swap");
.f-ubuntu {
  font-family: "Ubuntu", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.f-poppins {
  font-family: "Poppins", sans-serif;
}
:root {
  --grey-dark: #343a40;
  --dark: #242428;
  --height-small: 400px;
  --height-medium: 500px;
  --height-large: 600px;
  --light: #ffffff;
  --theme: rgb(253, 9, 9);
  --random-colors: #ff5733, #33ff57, #5733ff, #ff33a8, #33a8ff, #a833ff, #ff33ff,
    #33ffc2, #a8ff33, #ffc233;
}
.d-flex {
  display: flex;
}
.d-flex-fd-column {
  display: flex;
  flex-direction: column;
}
.a-center {
  align-items: center;
}
.j-center {
  justify-content: center;
}
.trans-c-03 > * {
  transition: all 0.3s ease;
}
.trans-03 {
  transition: all 0.3s ease;
}
.app-container {
  max-width: 2500px;
  padding: 0 !important;
  margin: 0 auto;
  color: var(--light);
}
.section-header {
  font-family: "Poppins", sans-serif;
  color: var(--theme);
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}
