@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400&display=swap");
.f-ubuntu {
  font-family: "Ubuntu", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.f-poppins {
  font-family: "Poppins", sans-serif;
}
:root {
  --grey-dark: #343a40;
  --dark: #242428;
  --height-small: 400px;
  --height-medium: 500px;
  --height-large: 600px;
  --light: #f8f9fa;
  --theme: rgb(241, 83, 83);
}
.d-flex {
  display: flex;
}
.a-center {
  align-items: center;
}
.j-center {
  justify-content: center;
}
.trans-c-03 > * {
  transition: color 0.3s ease;
}
.trans-03 {
  transition: color 0.3s ease;
}
.app-container {
  max-width: 2500px;
  padding: 0 !important;
  margin: 0 auto;
  color: var(--light);
}
.section-header {
  font-family: "Poppins", sans-serif;
  color: var(--theme);
}
